h1{
    color: cyan;
    text-align: center;
}
body{
    background-image: url("https://images.fineartamerica.com/images-medium-large-5/blue-rose-doug-long.jpg");
    background-repeat: no-repeat;
    color: #7E86FF;
    font-size: xx-large;
}
input{
    color: blue;
}
#create1{
    color: blue;
    text-align: center;
    font-size: larger;
    margin-top: 0px;
}
#to-do{
    padding: 5px;
    border: dotted 3px azure;
    text-align: left;
    margin-left: 425px;
    margin-right: 425px;
    margin-bottom: 10px;
}
ui{
    list-style: none;
}
img{
    width: 100%;
    margin-top: 0px;
    position: absolute
    
}