body{
    background-color: #040117;
    font-size: medium;
}
h1{
    color: #640792;
    text-align: center;
    font-size: xx-large;
}
#showaspects{
    text-align: center;
    margin-left: 300;
    margin-right: 300;
    font-size: xx-large;
}
#write-to-do-in-show{
    margin-left: 100;
    margin-right: 500;
    margin-bottom: 700;
}
#gobackbutton{
    font-size: medium;
}
#lilyimg{
    margin-right: 0px;
}